@charset "UTF-8";

body{
    background: rgba(28, 101, 197, 0.664);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    width: 500px;
    height: 410px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.486) 5px 5px 10px;
}
select#inf{
    width: 200px;
}
footer{
    font-style: italic;
    text-align: center;
    color: white;
}
div{
    text-align: center;
}
div#msg{
    padding-bottom: 10px;
}
